body {
     font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0rem;
    background-color:beige;
}

body a {
    text-decoration: none;
}




header {
    background-color:rgb(51, 51, 49); 
    -webkit-text-fill-color:white;
    text-align: center;
    padding: none;
}

header nav {
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav a {
    color: aliceblue;
    text-decoration: none;
    margin: 20px;
}

button {
    background-color: rgb(41, 135, 4); -webkit-text-fill-color: aliceblue;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    height: 55px;
    width: 150px;
    margin: 0px;
    font-size: large;
    text-decoration: none;
}   
    .button-container {
      align-content: right;
      margin-left: 80px;
    }

    .image {
  width: 300px;
  height: 300px;
  transition: all 0.5s;
    }

.enlarged {
  width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 10px;
}

.dropdown-content a img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.show {
  display: block;
}




.left-section {
    width: 35%;
    float: left;
    
  background-color: #f2f2f2;
}

.right-section {
    width: 57%;
    float: right;
    margin: 20px;

}




footer ul li {
    display: inline-block;
    margin-right: 0px;
}


footer {
    background-color: rgb(51, 51, 49); -webkit-text-fill-color: aliceblue;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    clear: both;
}

